<ion-header>
  <ion-toolbar>
    <ion-title>page-a</ion-title>
    <ion-button (click)="back2home()">back to home</ion-button>
    <button mat-raised-button color="primary" (click)="back2home()">home</button>
    <ion-button (click)="tob()">next to page-b</ion-button>
    <button mat-raised-button color="primary" (click)="tob()">b</button>
    <ion-button (click)="toc()">next to page-c</ion-button>
    <button mat-raised-button color="primary" (click)="toc()">c</button>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
